body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.xe-one-main {
    height: 100%;
    width: 100%;
    background-color: #713475;
    position: relative;
}

.menusection {
    width: 100%;
    padding: 30px 0px;
}

.menucontainer {
    width: 80%;
    margin: 10px auto;
    overflow: auto;
}

.menupart {
    width: 30%;
    float: left;
    overflow: auto;
}

.icon {
    width: 25%;
    float: left;
    padding: 15px 10px;
}

.menucontent {
    height: 35px;
    width: 100%;
    background-color: white;
}

.logo {
    width: 40%;
    float: left;
}

.logocontainer {
    width: 100%;
    padding: 15px 120px;
}

.logocontent {
    height: 40px;
    width: 100%;
    background-color: white;
}

.sidemenubar {
    height: 30px;
    width: 50px;
    top: 60px;
    right: 30px;
    position: absolute;
    background-color: white;
}

.xeonecontent {
    width: 40%;
    margin: 10px auto;
    padding: 10px;
}

.title {
    height: 40px;
    width: 70%;
    background-color: white;
    margin: 20px auto;
}

.line1 {
    height: 60px;
    width: 80%;
    margin: auto;
    background-color: white;
}

.line2 {
    height: 30px;
    width: 100%;
    margin: auto;
    background-color: white;
}

.lernmorecontent {
    width: 10%;
    height: 35px;
    background-color: #00bcd4;
    margin: 50px auto;
}

.sidemenucontainer {
    width: 20px;
    top: 300px;
    right: 50px;
    position: absolute;
}

.sidemenu {
    height: 20px;
    width: 100%;
    margin: 10px auto;
    background-color: white;
}

.design {
    width: 100%;
    overflow: auto;
}

.design1 {
    height: 585px;
    width: 50%;
    float: left;
    background-color: #f2eeef;
}

.design2 {
    width: 50%;
    float: left;
}

.design2container {
    width: 80%;
    margin: 130px auto;
}

.designtag {
    height: 30px;
    width: 40%;
    background-color: #00bcd4;
    margin: auto;
}

.designtitle {
    height: 70px;
    width: 80%;
    background-color: #212331;
    margin: 15px auto;
}

.designparagraph {
    height: 110px;
    width: 100%;
    background-color: #A5A5A5;
    margin: 30px auto;
}

.designworks {
    height: 30px;
    width: 40%;
    background-color: #00bcd4;
    margin: 40px auto;
}

.workprocessmain {
    width: 100%;
    background-color: #00cacc;
}

.workprocesscontainer {
    width: 80%;
    margin: auto;
    padding: 120px 0px;
}

.workprocess-title {
    height: 60px;
    width: 50%;
    background-color: white;
    margin: auto;
}

.work-task-container {
    width: 100%;
    padding: 30px 0px 0px;
}

.work-task-content {
    width: 100%;
    margin: 10px auto 0px;
}

.work-content-part {
    width: 100%;
    overflow: auto;
}

.task {
    width: 20%;
    float: left;
    padding: 15px 10px 0px;
}

.taskcontent1 {
    height: 60px;
    width: 50%;
    margin: 0px auto 10px;
    background-color: white;
}

.taskcontent2 {
    height: 10px;
    width: 30%;
    margin: 20px auto;
    background-color: white;
}

.taskcontent3 {
    height: 45px;
    width: 80%;
    margin: 0px auto;
    background-color: white;
}

.creativemain {
    width: 100%;
    background-color: #f4f4f6;
}

.creativewidth {
    width: 80%;
    padding: 100px 0px;
    margin: auto;
    overflow: auto;

}

.creativecontainer {
    width: 60%;
    margin: 0px auto 70px;
}

.herostitle {
    height: 20px;
    width: 40%;
    background-color: #00BCD4;
    margin: auto;
}

.creativetitle {
    height: 50px;
    width: 70%;
    background-color: #212331;
    margin: 10px auto;
}

.creativeperegraph {
    height: 80px;
    width: 100%;
    background-color: #A5A5A5;
    margin: auto;
}

.creative-content-part {
    width: 100%;
    overflow: auto;
}

.creative {
    width: 33.33%;
    float: left;
    padding: 15px;

}

.creative-com {
    width: 100%;
    padding: 10px 5px 0px;
    background-color: white;
}

.creativecontent1 {
    height: 300px;
    width: 95%;
    margin: auto;
    background-color: #eeedf2;
}

.creativecontent2 {
    height: 100px;
    width: 95%;
    margin: auto;
    background-color: #00cecc;
}

.featuremain {
    width: 100%;
}

.featurewidth {
    width: 80%;
    padding: 100px 0px;
    margin: auto;
    overflow: auto;
}

.featurepartone {
    width: 50%;
    float: left;
}

.featuretag {
    height: 30px;
    width: 30%;
    background-color: #00BCD4;
}

.featuretitle {
    height: 70px;
    width: 80%;
    background-color: #212331;
    margin: 20px auto 40px 0px;
}

.featureperegraph {
    height: 100px;
    width: 90%;
    background-color: black;
    margin: 0px auto 40px 0px;
}

.feature-blog-title {
    height: 30px;
    width: 25%;
    background-color: #643094;
}

.featureparttwo {
    height: 330px;
    width: 50%;
    float: left;
    background-color: #00e4ce;
}

.creative-work {
    width: 100%;
    background-color: #f6f6f6;
}

.creative-work-part {
    width: 100%;
    overflow: auto;
}

.work {
    width: 50%;
    float: left;
    padding: 10px;

}

.work-com {
    width: 100%;
    padding: 15px 5px;
    background-color: white;
}

.workcontent1 {
    height: 600px;
    width: 95%;
    margin: auto;
    background-color: #eeedf2;
}

.view-all-work {
    height: 30px;
    width: 20%;
    background-color: #643094;
    margin: 20px auto;
}

.mobile-application-main {
    width: 100%;
}

.mobile-application-width {
    width: 80%;
    margin: auto;
    padding: 100px 0px;
}

.mobile-part-con {
    width: 100%
}


.mobile-part-1 {
    width: 35%;
    float: left;
    overflow: auto;
    padding: 0px 10px;
}

.mobile-con-container {
    width: 100%;
    overflow: auto;
}

.mobile-con-1 {
    width: 50%;
    float: left;
    margin: 40px 0px;
}

.mobile-con-11 {
    height: 30px;
    width: 70%;
    background-color: #222222;
    margin: 0px 0px 0px auto;
}

.mobile-con-12 {
    height: 70px;
    width: 100%;
    background-color: #A5A5A5;
    margin: 15px 0px 0px;
}

.mobile-con-2 {
    width: 50%;
    float: left;
    padding: 20px;
    margin: 40px 0px;
}

.mobile-con-21 {
    height: 70px;
    width: 100%;
    background-color: #00bcd4;
}

.mobile-part-2 {
    height: 585px;
    width: 30%;
    float: left;
    padding: 0px 10px;
    background-color: #5d3885;
}

.mobile-part-3 {
    width: 35%;
    float: left;
    overflow: auto;
    padding: 0px 10px;
}

.experience-main {
    width: 100%;
    background-color: #713475;
}

.experience-width {
    width: 80%;
    padding: 120px 0px;
    overflow: auto;
    margin: auto;
}

.experience-part-one {
    width: 50%;
    float: left;
    margin: 5px auto;
    padding: 10px;
}

.experience-title {
    height: 50px;
    width: 100%;
    background-color: white;
    margin: 0px auto 25px;
}

.experience-peregraph {
    height: 50px;
    width: 100%;
    background-color: white;
    margin: 50px auto 16px;
}

.experience-part-two {
    width: 50%;
    float: left;
    margin: 5px auto;
    padding: 10px;
}


.experience-task-content {
    width: 100%;
    margin: 0px auto;
    overflow: auto;
}

.experience {
    width: 33.33%;
    float: left;
    padding: 15px 10px 0px;
}

.experience1 {
    height: 35px;
    width: 30%;
    margin: 0px auto;
    background-color: white;
}

.experience2 {
    height: 40px;
    width: 70%;
    margin: 30px auto 10px;
    background-color: white;
}

.experience3 {
    height: 20px;
    width: 80%;
    margin: 0px auto;
    background-color: white;
}

.packagesmain {
    width: 100%;
    background-color: #f4f4f6;
}

.packageswidth {
    width: 80%;
    padding: 100px 0px;
    margin: auto;
    overflow: auto;

}

.packages-content-part {
    width: 100%;
    overflow: auto;
}

.packages {
    width: 50%;
    float: left;
    padding: 15px;

}

.packages-com {
    width: 100%;
    height: 650px;
    background-color: #00bcd4;
}

.packages-com-sec {
    width: 100%;
    height: 650px;
    background-color: #643094;
}

.videomain {
    width: 100%;
    background-color: #967319;

}

.videowidth {
    width: 80%;
    padding: 100px 0px;
    margin: auto;
    overflow: auto;
}

.videocontainer {
    width: 100%;
}

.video-con {
    height: 30px;
    width: 250px;
    background-color: white;
}

.video-con1 {
    height: 60px;
    width: 350px;
    background-color: white;
    margin: 15px 0px;
}

.video-con2 {
    height: 40px;
    width: 150px;
    background-color: #00bcd4;
}

.people-said-main {
    width: 100%;
    background-color: white;
}

.people-content-part {
    width: 100%;
    overflow: auto;
}

.people {
    width: 33.33%;
    float: left;
    padding: 10px;
}

.people-con-1 {
    width: 95%;
    margin: auto;
    background-color: #f6f6f6;
    padding: 15px;
}

.people-1 {
    height: 170px;
    width: 85%;
    background-color: #b2b2b2;
    margin: 40px auto;
}

.people-2 {
    height: 25px;
    width: 50%;
    margin: 30px auto 10px;
    background-color: #282a37;
}

.people-2_1 {
    height: 15px;
    width: 30%;
    margin: auto;
    background-color: #39cbde;
}

.envato-main {
    width: 100%;

}

.envato-width {
    width: 80%;
    padding: 100px 0px;
    margin: auto;
}

.envato-content-part {
    width: 100%;
    overflow: auto;
}

.Envato {
    width: 20%;
    float: left;
    padding: 25px;

}

.envato-com {
    width: 100%;
    height: 60px;
    background-color: #b9b9b9;
}

.designworks-last {
    height: 30px;
    width: 40%;
    background-color: #643094;
    margin: 40px auto;
}

.design2-last {
    width: 50%;
    float: left;
    background-color: #f6f6f6;
}

.contact-main {
    width: 100%;
}

.contact-width {
    width: 80%;
    padding: 150px 0px;
    margin: auto;
    overflow: auto;
}


.contact-tag {
    height: 30px;
    width: 10%;
    background-color: #00BCD4;
}

.contact-title {
    height: 70px;
    width: 35%;
    background-color: black;
    margin: 15px auto 60px 0px;
}

.contact-part-one {
    width: 50%;
    float: left;
}

.contact-peregraph {
    height: 100px;
    width: 90%;
    background-color: #212331;
    margin: 0px 0px 16px;
}

.contact-part-1 {
    width: 50%;
    float: left;
    margin: 40px 0px 0px;
}

.address-tag {
    height: 25px;
    width: 40%;
    background-color: black;
    margin: 0px 0px 25px;
}

.address {
    height: 40px;
    width: 95%;
    background-color: #A5A5A5;
    margin: 0px 0px 15px;
}

.direction-tag {
    height: 25px;
    width: 40%;
    background-color: #00bcd4;
}

.contact-part-2 {
    width: 50%;
    float: left;
    margin: 40px 0px 0px;
}

.contact-part-two {
    width: 50%;
    float: left;
    overflow: auto;
}

.f-name-part {
    width: 50%;
    float: left;
    overflow: auto;
    margin: 20px 0px;
}

.f-name {
    height: 30px;
    width: 60%;
    background-color: #a5a5a5;
    float: left;
}

.s-name-part {
    width: 50%;
    float: left;
    overflow: auto;
    margin: 20px 0px;
}

.s-name {
    height: 30px;
    width: 60%;
    background-color: #a5a5a5;
    float: left;
}

.msg-part {
    height: 30px;
    width: 30%;
    background-color: #a5a5a5;
    float: left;
    margin: 20px 0px 150px;
}

.submit-btn {
    height: 45px;
    width: 98%;
    background-color: #00bcd4;
    float: left;
    margin: 85px auto 0px;
}

.map-main {
    height: 450px;
    width: 100%;
    background-color: darkgrey;
}

.footer-main {
    width: 100%;

}

.footer-width {
    width: 80%;
    padding: 60px 0px;
    margin: auto;
}

.footer-content {
    width: 50%;
    margin: auto;
    overflow: auto;
}

.social-icon {
    width: 16.66%;
    float: left;
    padding: 15px;

}

.social-com {
    width: 100%;
    height: 40px;
    background-color: #b9b9b9;
}

.cpyright {
    height: 25px;
    width: 30%;
    background-color: #b9b9b9;
    margin: 30px auto;
}
